/****** Set component aliases ******/
.gm .lrn.lrn-assess .lrn_mcq {
  /* border color - unchecked */
  --gm-color-border-btn-radio-default: var(--gm-color-border-component-input-unchecked-default);
  --gm-color-border-btn-radio-hover: var(--gm-color-border-component-input-unchecked-hover);
  --gm-color-border-btn-radio-focus: var(--gm-color-border-component-input-unchecked-focus);
  --gm-color-border-btn-radio-active: var(--gm-color-border-component-input-unchecked-active);
  --gm-color-border-btn-radio-disabled: var(--gm-color-border-component-input-unchecked-disabled);
  
  /* background color - unchecked */
  --gm-color-bg-btn-radio-unchecked: transparent;
  --gm-color-bg-btn-radio-unchecked-hover: var(--gm-white);
  --gm-color-bg-btn-radio-unchecked-focus: transparent;
  --gm-color-bg-btn-radio-unchecked-active: var(--gm-beige40);
  --gm-color-bg-btn-radio-unchecked-disabled: var(--gm-color-bg-component-input-unchecked-disabled);
  
  /* border color - checked */
  --gm-color-border-btn-radio-checked: var(--gm-color-border-component-input-checked-default);
  --gm-color-border-btn-radio-checked-hover: var(--gm-color-border-component-input-checked-hover);
  --gm-color-border-btn-radio-checked-focus: var(--gm-color-border-component-input-checked-focus);
  --gm-color-border-btn-radio-checked-active: var(--gm-color-border-component-input-checked-active);
  --gm-color-border-btn-radio-checked-disabled: var(--gm-color-border-component-input-checked-disabled);
  
  /* background color - checked */
  --gm-color-bg-btn-radio-checked: var(--gm-color-bg-component-input-checked);
  --gm-color-bg-btn-radio-checked-hover: var(--gm-color-bg-component-input-checked-hover);
  --gm-color-bg-btn-radio-checked-focus: var(--gm-color-bg-component-input-checked-focus);
  --gm-color-bg-btn-radio-checked-active: var(--gm-color-bg-component-input-checked-active);
  --gm-color-bg-btn-radio-checked-disabled: var(--gm-color-bg-component-input-checked-disabled);
  
  /* background color - disabled */
  --gm-color-bg-btn-radio-checked-disabled: var(--gm-color-bg-component-input-checked-disabled);
  
  /* border width */
  --gm-size-border-radio-btn: var(--gm-size-border-component-input);
  --gm-size-border-radio-btn-unchecked-hover: var(--gm-size-border-component-input-hover);

  /* radius */
  --gm-border-radius-btn-radio: var(--gm-border-rad-input);
    
  /* size */
  --gm-size-btn-radio-input: var(--gm-size-component-input);
  
  /* spacing */
  --gm-sp-btn-radio-input-to-label: var(--gm-sp-inline-start-component-label);
  --gm-sp-btn-radio-block: var(--gm-sp-block-component-input);
  --gm-sp-btn-radio-inline: var(--gm-sp-inline-component-input);
  
  /* focus indicator */
  --gm-focus-indicator-btn-radio: var(--gm-shadow-focus-indicator);
}


/********* Set Styles *********/
.gm .lrn.lrn-assess .lrn_mcq .lrn_mcqgroup  {
  margin: 0;
  padding: 0;
  
  margin-block: var(--gm-sp-block-lrn-mc);
  margin-inline: var(--gm-cortex-sp-medium);
  
  .lrn-mcq-option {
    position: relative;
    margin-block: var(--gm-sp-btn-radio-block);
    margin-inline: var(--gm-sp-btn-radio-inline);
  }
  
  .lrn-label {
    position: relative;
    font-size: var(--gm-text-size-component);
    padding: 0;
    margin: 0;
    padding-inline-start: calc(var(--gm-size-btn-radio-input) // account for input width
                              + (var(--gm-size-component-input-safe-area) * 2) // account for input safe area horizontal space
                              + var(--gm-sp-btn-radio-input-to-label)); // 8px inline start, 12px total incl safe area
  }
  
  /* Radio input */
  .lrn-input {
    position: absolute;
    display: inline-flex;
    margin: auto;
    left: 0;
    z-index: 1;
    
    width: var(--gm-size-btn-radio-input);
    height: var(--gm-size-btn-radio-input);
    padding: var(--gm-size-component-input-safe-area);
    box-sizing: border-box;
    
    outline: none;
    cursor: pointer;
    appearance: none;
    
    border-radius: var(--gm-border-radius-btn-radio); 
    border-width: var(--gm-size-border-radio-btn);
    border-style: solid;
    border-color: var(--gm-color-border-btn-radio-default);
    
    &:dir(rtl) {
      right: 0;
    }
  
    // checked dot, stand-in for atomic div class = RadioButtonstyled__StyledRadioBtn-sc-i040i4-4 iDNRLa radio-radio
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-block-start: var(--gm-size-border-radio-btn);
      margin-inline-start: var(--gm-size-border-radio-btn);
  
      width: calc(100% - (var(--gm-size-border-radio-btn) * 2));
      height: calc(100% - (var(--gm-size-border-radio-btn) * 2));
  
      box-sizing: border-box;
      cursor: pointer;
      
      display: block;
      border-radius: var(--gm-border-radius-btn-radio);
      background-color: var(--gm-color-bg-btn-radio-checked);
      transform: scale(0);
      transition: var(--gm-atomic-transition);
    }

    &:hover:not(:checked) {
      border-width: var(--gm-size-border-radio-btn-unchecked-hover);
      border-color: var(--gm-btn-radio-border-color-hover);
    }
     
    &:hover:checked {
      border-width: var(--gm-size-border-radio-btn);
      border-color: var(--gm-btn-radio-border-color-hover);
    }
  
    &.is-focused:not(:checked),
    &:focus-visible:not(:checked) {
      box-shadow: var(--gm-focus-indicator-btn-radio);
      
      &::after {
        //box-shadow: var(--gm-focus-indicator-btn-radio);
      }
    }

    &.is-focused:checked,
    &:focus-visible:checked {
      box-shadow: var(--gm-focus-indicator-btn-radio);
      
      &::after {
        //box-shadow: var(--gm-focus-indicator-btn-radio);
      }
    }
    
    &:disabled:not(:checked),
    &.is-disabled:not(:checked),
    &:disabled:hover:not(:checked),
    &.is-disabled:hover:not(:checked) {
      pointer-events: none;
      border-color: var(--gm-color-border-btn-radio-disabled);
    }
      
    &:checked {
      outline: none;
      appearance: none;
    }
    
    &:checked::after {
      transform: scale(1);
    }
  }

  /* Radio Group Variants */
    &.lrn_mcqgroup-horizontal {

  }
}
