/****** Set component aliases ******/
.gm .lrn.lrn-assess .lrn_mcq .lrn_mcqgroup {
  /* border color - unchecked */
  --gm-color-border-btn-radio-default: var(--gm-color-border-component-input-unchecked-default);
  --gm-color-border-btn-radio-hover: var(--gm-color-border-component-input-unchecked-hover);
  --gm-color-border-btn-radio-focus: var(--gm-color-border-component-input-unchecked-focus);
  --gm-color-border-btn-radio-active: var(--gm-color-border-component-input-unchecked-active);
  --gm-color-border-btn-radio-disabled: var(--gm-color-border-component-input-unchecked-disabled);
  
  /* background color - unchecked */
  --gm-color-bg-btn-radio-unchecked: transparent;
  --gm-color-bg-btn-radio-unchecked-hover: var(--gm-white);
  --gm-color-bg-btn-radio-unchecked-focus: transparent;
  --gm-color-bg-btn-radio-unchecked-active: var(--gm-color-bg-component-input-unchecked-active);
  
  --gm-color-bg-btn-radio-unchecked-disabled: var(--gm-color-bg-component-input-unchecked-disabled);
  
  /* border color - checked */
  --gm-color-border-btn-radio-checked: var(--gm-color-border-component-input-checked-default);
  --gm-color-border-btn-radio-checked-hover: var(--gm-color-border-component-input-checked-hover);
  --gm-color-border-btn-radio-checked-focus: var(--gm-color-border-component-input-checked-focus);
  --gm-color-border-btn-radio-checked-active: var(--gm-color-border-component-input-checked-active);
  --gm-color-border-btn-radio-checked-disabled: var(--gm-color-border-component-input-checked-disabled);
  
  /* background color - checked */
  --gm-color-bg-btn-radio-checked: var(--gm-color-bg-component-input-checked);
  --gm-color-bg-btn-radio-checked-hover: var(--gm-color-bg-component-input-checked-hover);
  --gm-color-bg-btn-radio-checked-focus: var(--gm-color-bg-component-input-checked-focus);
  --gm-color-bg-btn-radio-checked-active: var(--gm-color-bg-component-input-checked-active);
  --gm-color-bg-btn-radio-checked-disabled: var(--gm-color-bg-component-input-checked-disabled);
  
  /* background color - disabled */
  --gm-color-bg-btn-radio-checked-disabled: var(--gm-color-bg-component-input-checked-disabled);
  
  /* border width */
  --gm-size-border-btn-radio: var(--gm-size-border-component-input);
  --gm-size-border-btn-radio-unchecked-hover: var(--gm-size-border-component-input-hover);

  /* radius */
  --gm-border-radius-btn-radio: var(--gm-border-rad-btn-input);
  --gm-border-radius-btn-radio-block: var(--gm-border-rad-component);
    
  /* size */
  --gm-size-radio-input: var(--gm-size-component-input-radio);
  
  --gm-size-text-radio-label: var(--gm-size-text-component-label);
  
  /* spacing */
  --gm-sp-btn-radio-input-to-label: var(--gm-sp-inline-start-component-radio-label);  
  --gm-sp-block-radio-item: var(--gm-sp-block-component-input-radio);
  
  /* spacing block variant */
  --gm-sp-block-radio-item-block: var(--gm-sp-block-component-item-block);
  --gm-sp-inline-radio-item-block: var(--gm-sp-inline-component-item-block);
  
  /* spacing within answer to create shorter divider */
  --gm-sp-radio-item-block-outer: var(--gm-cortex-sp-extra-small); //8px
  
  /* focus indicator */
  --gm-focus-indicator-btn-radio: var(--gm-component-focus-indicator);
}



/********* Set Styles *********/
.gm .lrn.lrn-assess .lrn_mcq .lrn_mcqgroup  {
  
  /* Radio input */
  .lrn-input[type=radio] {
    position: absolute;
    display: inline-flex;
    margin: auto;
    left: 0;
    z-index: 1;
    
    width: var(--gm-size-radio-input);
    height: var(--gm-size-radio-input);
    padding: var(--gm-size-component-input-safe-area);
    box-sizing: border-box;
    
    outline: none;
    cursor: pointer;
    appearance: none;
    
    border-radius: var(--gm-border-radius-btn-radio); 
    border-width: var(--gm-size-border-btn-radio);
    border-style: solid;
    border-color: var(--gm-color-border-btn-radio-default);
    
    &:dir(rtl) {
      right: 0;
    }
  
    // checked dot, stand-in for atomic div class = RadioButtonstyled__StyledRadioBtn-sc-i040i4-4 iDNRLa radio-radio
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-block-start: var(--gm-size-border-btn-radio);
      margin-inline-start: var(--gm-size-border-btn-radio);
  
      width: calc(100% - (var(--gm-size-border-btn-radio) * 2));
      height: calc(100% - (var(--gm-size-border-btn-radio) * 2));
  
      box-sizing: border-box;
      cursor: pointer;
      
      display: block;
      border-radius: var(--gm-border-radius-btn-radio);
      background-color: var(--gm-color-bg-btn-radio-checked);
      transform: scale(0);
      transition: var(--gm-atomic-transition);
    }

    /* radio input label */
    + label {
      color: var(--gm-color-text);
      font-size: var(--gm-size-text-radio-label);
      padding-inline-start: calc(var(--gm-size-radio-input) // account for input width 16px
                                  + (var(--gm-size-component-input-safe-area) * 2) // account for input safe area horizontal space 8px
                                  + var(--gm-sp-btn-radio-input-to-label)); // 8px inline start, 12px total incl safe area
                                  
      padding-block: calc(var(--gm-sp-block-radio-item) / 2); // half margin due to vert non-collapse
                                  
    }
    
    /* UNCHECKED */
    &:not(:checked):hover {
      border-width: var(--gm-size-border-btn-radio-unchecked-hover);
      border-color: var(--gm-color-border-btn-radio-hover);
    }
    
    &:not(:checked):focus,
    &:not(:checked):focus-visible {
      box-shadow: var(--gm-focus-indicator-btn-radio);
    }
    
    &:not(:checked):active {
      background-color: var(--gm-color-bg-btn-radio-unchecked-active);
    }
    
  
    /* CHECKED */
    &:checked {
      outline: none;
      appearance: none;
    }
    
    &:checked::after {
      transform: scale(1);
    }
  
    &:checked:hover {
      border-width: var(--gm-size-border-btn-radio);
      border-color: var(--gm-color-border-btn-radio-checked-hover);
    }

    &:checked.is-focused,
    &:checked:focus-visible {
      box-shadow: var(--gm-focus-indicator-btn-radio);
      border-color: var(--gm-color-border-btn-radio-checked-focus);
    }
    
    &:checked:active {

    }
    
    /* DISABLED */
    &:disabled + label,
    &:disabled,
    &.is-disabled,
    &:disabled:hover,
    &.is-disabled:hover {
      border-width: var(--gm-size-border-btn-radio);
      border-color: var(--gm-color-border-btn-radio-disabled);
      cursor: not-allowed;
      background-color: transparent;
    }
    
    &:disabled:after {
      margin: 0; // center the element
      transform: scale(1);
      height: 100%;
      width: 100%;
      background-position: center;
      background: linear-gradient(
         135deg, transparent,
          transparent 45%,
         var(--gm-color-border-btn-radio-disabled) 45%, var(--gm-color-border-btn-radio-disabled) calc(45% + var(--gm-size-border-btn-radio)),
         transparent calc(45% + var(--gm-size-border-btn-radio)));
      background-size: var(--gm-size-radio-input) var(--gm-size-radio-input);
      background-repeat: no-repeat;
      cursor: not-allowed;
    }
  }
}

/* BLOCK VARIANT */

.gm .lrn_widget.lrn_mcq .lrn_response .lrn_mcqgroup-block,
.gm .lrn.lrn-assess .lrn_mcq .lrn_mcqgroup.lrn_mcqgroup-block {

  /* layout within label */
  .lrn-possible-answer {
    width: 100%;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    padding-block: var(--gm-sp-radio-item-block-outer);
    
    /* stem letter or number */
    .lrn_choiceLabel {
      padding: 0;
      margin: 0;
      width: auto;
      min-width: auto;
      display: flex;
      background-color: transparent;
      color: inherit;
      font-size: var(--gm-size-text-radio-label);
      padding-inline: var(--gm-sp-inline-radio-item-block);
      padding-block: calc(var(--gm-sp-block-radio-item-block) - var(--gm-sp-radio-item-block-outer));
      height: 100%;
      border: 0;
      border-inline-end: var(--gm-size-border-btn-radio);
      border-style: solid;
      border-color: currentcolor;
    }

    
    /* label text */
    .lrn_singleRow {
      padding: 0;
      margin: 0;
      display: flex;
      background-color: transparent;
      padding-block: calc(var(--gm-sp-block-radio-item-block) - var(--gm-sp-radio-item-block-outer));
      padding-inline: var(--gm-sp-inline-radio-item-block);
    }
  }

  
  /* Radio input */
  .lrn-input[type=radio] {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    
    + label {
      background-color: transparent;
      border-radius: var(--gm-border-radius-btn-radio-block); 
      border-width: var(--gm-size-border-btn-radio);
      border-style: solid;
      border-color: var(--gm-color-border-btn-radio-default);
      padding: 0;
    }
    
    &::after {
      display: none;
    }
    
    &:checked {
      background-color: var(--gm-color-bg-btn-radio-checked);
      
      + label {
        background-color: var(--gm-color-bg-btn-radio-checked);
        color: var(--gm-color-text-component-block-label);
      }
    } 
    
    &:checked::after {

    }
  }
}
