/****** GLOBALS - named for figma or atomic sourcing ******/
:root {
  /*** figma ***/
  --gm-cortex-sp-extra-extra-small: 4px;
  --gm-cortex-sp-extra-small: 8px;
  --gm-cortex-sp-small: 12px;
  --gm-cortex-sp-medium: 16px;
  --gm-cortex-sp-large: 24px;
  --gm-cortex-sp-extra-large: 32px;
  --gm-cortex-sp-extra-extra-large: 48px;
  --gm-cortex-sp-extra-extra-extra-large: 56px;
  --gm-cortex-sp-extra-extra-extra-extra-large: 80px;
  
  /*** atomic ***/
  --gm-atomic-sp-1: 10px;
  --gm-atomic-sp-2: 20px;
  --gm-atomic-sp-3: 30px;
  --gm-atomic-sp-4: 40px;
  
  /*** student experience ***/
  --gm-student-exp-sp-01: 40px;
  --gm-student-exp-sp-02: 56px;
}

/****** ALIASES - named for general component usage ******/
:root {
  /*** learnosity ***/
  //--gm-sp-block-component-lrn-response: var(--gm-cortex-sp-small);
  
  /*** component size ***/
  --gm-size-block-component-sm: var(--gm-atomic-sp-3);
  --gm-size-block-component-md: var(--gm-atomic-sp-4);
  
  /*** component spacing ***/ 
  --gm-sp-interior-block-component: var(--gm-atomic-sp-1); // naming for padding?
  --gm-sp-interior-block-component-start: var(--gm-atomic-sp-1); // naming for padding?
  --gm-sp-interior-block-component-end: var(--gm-atomic-sp-1); // naming for padding?
  --gm-sp-interior-inline-component: var(--gm-cortex-sp-medium); // naming for padding?
  --gm-sp-interior-inline-component-start: var(--gm-cortex-sp-medium); // naming for padding?
  --gm-sp-interior-inline-component-end: var(--gm-cortex-sp-medium); // naming for padding?

  /* space around multiple choice item group */
  --gm-sp-inline-component-group: var(--gm-cortex-sp-medium);
     
  /* space around multiple choice items */
  --gm-sp-block-component-input-item: var(--gm-cortex-sp-medium);
  
  /* radio items block spacing */
  --gm-sp-block-component-input-radio: var(--gm-cortex-sp-medium);
  
  /* checkbox items block spacing */
  --gm-sp-block-component-input-checkbox: var(--gm-cortex-sp-large);
  
  /*** input size ***/
  --gm-size-component-input-radio: var(--gm-cortex-sp-medium);
  --gm-size-component-input-checkbox: var(--gm-cortex-sp-large);
  
  /*** radio input spacing ***/
  --gm-size-component-input-safe-area: var(--gm-cortex-sp-extra-extra-small); // safe area around radio buttons
  --gm-sp-inline-start-component-radio-label: var(--gm-cortex-sp-extra-small);
  
  /* spacing block variant */
  --gm-sp-block-component-item-block: var(--gm-cortex-sp-medium);
  --gm-sp-inline-component-item-block: var(--gm-cortex-sp-medium);
  --gm-sp-block-component-block-item: var(--gm-cortex-sp-extra-extra-small);
  
  /*** checkbox input spacing ***/
  --gm-sp-inline-start-component-checkbox-label: var(--gm-cortex-sp-extra-small);
}


.theme-student-experience {
  /*** component size ***/
  --gm-size-block-component-sm: var(--gm-student-exp-sp-01);
  --gm-size-block-component-md: var(--gm-student-exp-sp-02);
}


/*** Theme for younger audiences ***/
.theme-age-k2 {
  /*** LEARNOSITY General ***/
  --gm-sp-block-lrn-mc: var(--gm-cortex-sp-medium);

  /*** component size ***/
  --gm-size-block-component-sm: 50px; // normal buttons
  --gm-size-block-component-md: 70px; // small buttons

  /* space around multiple choice item group */
  --gm-sp-inline-component-group: var(--gm-cortex-sp-large);

  /* radio items block spacing */
  --gm-sp-block-component-input-radio: var(--gm-cortex-sp-large);
  
  /* checkbox items block spacing */
  --gm-sp-block-component-input-checkbox: var(--gm-cortex-sp-extra-large);
  
  /*** input size ***/
  --gm-size-component-input-radio: var(--gm-cortex-sp-large);
  
  /*** radio input spacing ***/
  --gm-sp-inline-start-component-radio-label: var(--gm-cortex-sp-medium);
  
  /* spacing block variant */
  --gm-sp-block-component-item-block: var(--gm-cortex-sp-large);
  --gm-sp-inline-component-item-block: var(--gm-cortex-sp-large);
  --gm-sp-block-component-block-item: var(--gm-cortex-sp-extra-small);
  
  /*** checkbox input spacing ***/
  --gm-sp-inline-start-component-checkbox-label: var(--gm-cortex-sp-medium);
}
