/****** GLOBALS - named for figma or atomic sourcing ******/
:root {

  /****** TRANSITION AND ANIMATION ******/
  /*** atomic transition ***/
  --gm-atomic-transition: transform 0.15s ease 0s;

  /****** FOCUS Indicators ******/
  --gm-atomic-focus-indicator-shadow: var(--gm-white) 0px 0px 0px 1px, 
                                      var(--gm-beige180) 0px 0px 0px 2px;


}


/****** ALIASES - named for general component usage ******/
:root {
  /* focus indicator */
  --gm-component-focus-indicator: var(--gm-atomic-focus-indicator-shadow);
}
