/****** GLOBALS - named for figma or atomi sourcing ******/
:root {
  /* White from figma */
  --gm-white: hsl(0, 0%, 100%);
  
  /* Grays from figma */
  --gm-n10: hsl(0, 0%, 90%); // #E5E5E5;
  --gm-n30: hsl(0, 0%, 70%);
  --gm-n40: hsl(0, 0%, 60%);
  --gm-n80: hsl(0, 0%, 20%);
  --gm-n100: hsl(0, 0%, 0%);
  
  /* Beige from figma */
  --gm-beige20: hsl(90, 20%, 98%); // #FAFBF9
  --gm-beige40: hsl(75, 20%, 96%); // rgb(246, 247, 243)
  --gm-beige60: hsl(77, 24%, 94%); // 
  --gm-beige80: hsl(73, 23%, 92%); // #EEF0E7
  --gm-beige100: hsl(75, 25%, 91%); // #EAEDE1
  --gm-beige120: hsl(66, 25%, 83%);
  --gm-beige140: hsl(55, 18%, 72%); // #C4C2AA rgb(196, 194, 170)
  --gm-beige160: hsl(50, 13%, 56%);
  --gm-beige180: hsl(48, 10%, 40%); // #706C5C  rgb(112, 108, 92)
  
  /* Slate dark teal from figma */
  --gm-pr10: hsl(193, 69%, 95%); // #E9F7FB
  --gm-pr20: hsl(186, 61%, 91%); // #DAF3F6
  --gm-pr40: hsl(187, 52%, 84%); // #BFE6EB
  --gm-pr60: hsl(184, 37%, 76%); // #ABD5D8
  --gm-pr80: hsl(175, 24%, 70%); // #A0C5C2
  --gm-pr100: hsl(165, 17%, 65%); // #96B5AD
  --gm-pr120: hsl(177, 17%, 56%); // #7CA3A1
  --gm-pr140: hsl(184, 20%, 49%); // #649295
  --gm-prbase: hsl(187, 30%, 36%); // #407177
  --gm-pr170: hsl(186, 31%, 30%); // #355F64
  --gm-pr180: hsl(188, 31%, 25%); // #2C4E53
  
  /* Olive from figma */
  --gm-olive60: hsl(75, 61%, 68%); // rgb(199, 224, 125)
  --gm-olive80: hsl(73, 52%, 64%);
  --gm-olive100: hsl(70, 38%, 62%); // rgb(183, 195, 120) button
  --gm-olive120: hsl(72, 34%, 55%); //rgb(164, 179, 102)
  --gm-olive140: hsl(74, 32%, 43%);
  --gm-olive160: hsl(74, 33%, 32%);
  --gm-olive180: hsl(77, 35%, 22%);

  /** Gray from atomic **/
  --gm-atomic-gray:   hsl(0, 0%, 40%); // rgb(102, 102, 102)
}

/****** ALIASES - named for general component usage ******/
:root {
  /* background colors */
  --gm-color-bg-base: hsl(0, 0%, 100%);
  --gm-color-bg-2: var(--gm-beige60); //student ex bg
  
  /* text colors */
  --gm-color-text: hsl(0, 0%, 10%);
  --gm-color-text-light: hsl(0, 0%, 100%);
  
  /** Component text color defaults **/
  --gm-color-text-component-primary-default: var(--gm-white);
  --gm-color-text-component-primary-hover: var(--gm-white);
  --gm-color-text-component-primary-focus: var(--gm-white);
  --gm-color-text-component-primary-active: var(--gm-white);
  
  --gm-color-text-component-ghost-default: var(--gm-n100);
  --gm-color-text-component-disabled-default: var(--gm-atomic-gray);
  
  /* Icon color defaults */
  --gm-color-icon-default: var(--gm-prbase);
  
  /** Component primary background color **/
  --gm-color-bg-component-primary-default: var(--gm-prbase);
  --gm-color-bg-component-primary-hover:  var(--gm-pr170);
  --gm-color-bg-component-primary-focus: var(--gm-prbase);
  --gm-color-bg-component-primary-active: var(--gm-prbase);
  --gm-color-bg-component-primary-disabled: var(--gm-n10);
  
  /* ghost */
  --gm-color-bg-component-ghost-default: transparent;
  --gm-color-bg-component-ghost-hover: transparent;
  --gm-color-bg-component-ghost-focus: transparent;
  --gm-color-bg-component-ghost-active: var(--gm-beige40);
  --gm-color-bg-component-ghost-disabled: var(--gm-n10);
  
  /** Component primary border color **/
  --gm-color-border-component-primary-default: var(--gm-beige180);
  --gm-color-border-component-primary-hover: var(--gm-n100);
  --gm-color-border-component-primary-focus: var(--gm-beige180);
  --gm-color-border-component-primary-active: var(--gm-n100);
  --gm-color-border-component-primary-disabled: var(--gm-n10);
  
  /* ghost */
  --gm-color-border-component-ghost-default: var(--gm-beige180);
  --gm-color-border-component-ghost-hover: var(--gm-n100);
  --gm-color-border-component-ghost-focus: var(--gm-beige180);
  --gm-color-border-component-ghost-active: var(--gm-n100);
  --gm-color-border-component-ghost-disabled: var(--gm-n10);
  
  /* radio and checkbox specifics */
  --gm-color-border-component-input-unchecked-default: var(--gm-beige180);
  --gm-color-border-component-input-unchecked-hover: var(--gm-n100);
  --gm-color-border-component-input-unchecked-focus: var(--gm-beige180);
  --gm-color-border-component-input-unchecked-active: var(--gm-beige180);
  --gm-color-border-component-input-unchecked-disabled: var(--gm-beige180);
  
  --gm-color-border-component-input-checked-default: var(--gm-beige180);
  --gm-color-border-component-input-checked-hover: var(--gm-n100);
  --gm-color-border-component-input-checked-focus: var(--gm-beige180);
  --gm-color-border-component-input-checked-active: var(--gm-n100);
  --gm-color-border-component-input-checked-disabled: var(--gm-beige180);

  --gm-color-bg-component-input-unchecked-active: var(--gm-beige40);

  --gm-color-bg-component-input-checked: var(--gm-prbase);
  --gm-color-bg-component-input-checked-hover: var(--gm-prbase);
  --gm-color-bg-component-input-checked-focus: var(--gm-prbase);
  --gm-color-bg-component-input-checked-active: var(--gm-pr180);
  --gm-color-bg-component-input-checked-disabled: var(--gm-n40);
  
  --gm-color-bg-component-input-unchecked-disabled: linear-gradient(45deg, transparent 45%, 
                                                  var(--gm-color-border-component-input-disabled) 46%, 
                                                  var(--gm-color-border-component-input-disabled) calc(46% + var(--gm-component-border-width)), 
                                                  transparent calc(46% + var(--gm-component-border-width)));
                                                  
  /* block component labels, light on cortext, dark on student exp */
  --gm-color-text-component-block-label: var(--gm-white);
}

.theme-student-experience {
  /* background colors */
  --gm-color-bg-base: hsl(0, 0%, 100%);
  --gm-color-bg-2: var(--gm-beige60); //student ex bg

  --gm-color-text-component-primary-default: var(--gm-black);
  --gm-color-text-component-primary-hover: var(--gm-black);
  --gm-color-text-component-primary-focus: var(--gm-black);
  --gm-color-text-component-primary-active: var(--gm-black);
  
  --gm-color-bg-component-primary-default: var(--gm-olive100);
  --gm-color-bg-component-primary-hover: var(--gm-olive60);
  --gm-color-bg-component-primary-focus: var(--gm-olive60);
  --gm-color-bg-component-primary-active: var(--gm-olive120);
  
  --gm-color-bg-component-input-checked: var(--gm-olive100);
  --gm-color-bg-component-input-checked-hover: var(--gm-olive60);
  --gm-color-bg-component-input-checked-focus: var(--gm-olive60);
  --gm-color-bg-component-input-checked-active: var(--gm-olive120);
  
  --gm-color-icon-default: var(--gm-olive140);
  
  --gm-color-text-component-block-label: var(--gm-n100);
}

